.top{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.topList{
    display: flex;
    justify-content: center;    
    list-style: none;
}

.topIcon{
    margin-right: 10px;
}

.searchIcon{
    margin-left: 10px;
}

li{
    margin-right: 30px;
}


.img{
    width: 30px;
    height: 35px;
    border-radius: 50%;
}